/* inicia la parte de home */

.home-wrapper{
	background: url('../img/home.jpg')no-repeat center top;
	background-size: cover;
	color: white;
}

header .container{
	padding: 35px 0;
}

.container nav a{
	text-decoration: none;
}

header nav a{
	color: #ff0047;
	font-weight: bold;
	margin-left: 25px;	
	padding: 10px 25px;
}

header nav a.active{
	color: #010101;
}


#principal{
	vertical-align: baseline;
	padding: 200px 0 150px;
	margin-right: 150px;
	margin-left: 150px;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 20px;
}
#principal h1{
	font-size: 56px;
}

#principal p{
	text-align: left;
}

#principal a{
	background-color: #ff0047;
	padding: 18px;
	font-size: 18px;
	color: white;
	border-radius: 3px;
	display: inline-block;
}

.fa{
	margin-left: 25px;
	height: 17px;
	color: white;
}

/* hasta acá toda la parte de home */

/* comienza todo sobre la parte de los proyectos */

#projects h1{
	font-size: 40px;
	padding: 70px;
	text-align: center;
	font-weight: bold;
}

.container-up{
	display: block;
	padding-bottom: 260px; 
	padding-left: 150px;
	padding-right: 150px;
	box-sizing: border-box;
}

.container-up img{
	float: left;
	width: 50%;
	vertical-align: top;
}

#projects p{
	text-align: left;
}

.skills li{
	display: inline;
	line-height: 60px;
}

.portafolio-description a{
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
}

.portafolio-description li{
	color: #ff0047;
}

.portafolio-description p{
	text-align: justify-all;
}

.portafolio-description .skills li{
	color: white;
	background: #ff0047;
	text-decoration:none;
	border-radius: 5px;
	font-size: 15px;
	padding: 12px; 
}

/* hasta acá descripcion de los proyectos */

/*línea de división*/

.line{
	border:3px solid #EAEDED;
	border-radius: 300px/10px; 
	margin-bottom: 120px;
}

/* Hasta acá línea de división */

/* Todo sobre mi descripción */

#about-me h1{
	font-size: 50px;
	text-align: center;
}

.presentation{
	display: inline-block;
	text-align: justify;
	padding: 20px 30px;
	margin-right: 150px;
	margin-left: 150px;
}

.photo img{
	display: inline-block;
	width: 20%;
	border-radius: 30%;
	margin-left: 550px;
	margin-top: 50px;
}


h3{
	color: #ff0047;
}

h4{
	color: #555550;
}

/*Hasta acá mi descripción */

/* Desde acá mi contacto */

#contact-nav h1{
	font-size: 50px;
	text-align: center;
}

.contact{
	padding: 70px;
	text-align: center; 
}

.contact input{
	padding: 8px;
	border-radius: 10px;
	background: #F2F4F4;
}

.message textarea{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	background: #F2F4F4;
	border: 10px;
	padding: 15px 10px;
	width: 570px;
	height: 150px;
}

.send{
	background: white;
	padding: 8px 25px;
	border-radius: 8px;
	border: 1px solid #ff0047;
	color: #ff0047;
	font-weight: bold;
	margin-left: 200px;
}

/* Hasta acá todo sobre mis contacto */

/* footer */


.social-media{
	background: #F2F4F4;
	text-align: center;
}

.links{
	color:black;
 	margin-left: 10px;
 	margin-right: 10px;
 	margin-bottom: 25px;
}

.social-media h4{
	margin-left: 350px;
	margin-right: 350px;
}

/* hasta acá footer */



/* inicio media-queries */

@media (min-width: 150px) and (max-width: 319px){
		
		.photo img {
			margin-left: 120px;
		}
		
		.message textarea{
		width: 240px;
	}

}

  
@media (min-width: 320px) and (max-width: 480px){

	header nav a {
		font-size: 15px;
	}

	#principal h1{
		font-size: 26px;
		font-weight: bold;
	}

	#principal{
		padding: 100px 0 150px;
		margin-left: 100px;
		margin-right: 100px;
	}

	#principal a{
		display: table-row;
		font-size: 15px;
		padding: 80px 0 50px;
	}

	p{
		margin: 0 0 30px;
		font-size: 20px;
		padding: 15px;
	}
	
	.portafolio-description a {
		margin-left: 115px;
	}

	.a a{
		display: -webkit-inline-box;
		text-decoration: underline;
	}

	.portafolio-description .skills li{
		padding: 4px;
		margin-left: 9px;
	}

	.photo img{
		margin-left: 120px;
		width: 40%;
		font-size: 16px;
	}
	
	.presentation{
		display: table-cell;
	}

	.container-up{
		display: inline; 
		padding-left: 25px; 
		padding-right: 50px;
		padding-bottom: 100px;
	}

	.container-up img{
		width: 60%;
		margin-left: 90px;
		margin-bottom: 20px;
	}

	#projects p{
		text-align: -webkit-center;
		font-size: 14px;
	}

	#about-me h1{
		font-size: 40px;
	}

	#contact-nav h1{
		font-size: 40px;
	}

	.message textarea{
		width: 230px;
	}

	.send {
		margin-left: 130px;
	}

	.social-media li {
		display: inline-block;
	}

}


  @media (min-width: 481px) and (max-width: 800px) {
		
	#principal a{
		font-size: 15px;
	}

	.container nav a{
		padding: 20px;
	}

	.container-up img{
		width: 100%;
	} 

	.skills li{
		line-height: 50px;
		display: inline;
	}

	.photo img{
		margin-left: 300px;
		width: 30%;
	}

	.social-media h4{
		margin-left: 80px;
		margin-right: 80px;
	}

	.presentation{
		display: table-cell;
	}
	
	.message textarea{
		width: 470px;
	}

	.social-media li{
		display: inline-block;
	}
}

  @media (min-width: 801px) and (max-width: 960px){

	.photo img {
		margin-left: 300px;
	}

	.social-media h4 {
		margin-left: 150px;
		margin-right: 150px;
	}	
}

@media (min-width: 961px) and (max-width: 1024px){ 	
	
	.photo img {
		margin-left: 350px;
	}

	.portafolio-description .skills li{
		padding: 9px;
		display: inline;
	}

	.social-media h4{
			margin-left: 250px;
			margin-right: 250px;
	}

		.social-media li{
		display: inline-block;
	}
}
 

@media (min-width: 1025px) and (max-width: 1680px){ 

	.social-media h4{
			margin-left: 250px;
			margin-right: 250px;
	}

		.social-media li{
		display: inline-block;
	}
}














